html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}


header {
    /* background-color: rgba(0, 139, 139, 0.697); */
    background-color: #002738e7;
    padding: 1em 0;
    border-bottom-left-radius: 1000px;
    border-bottom-right-radius: 1000px;
}

header p {
    justify-content: center;
}

header ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: left;
    margin-right: 70px;
}

header ul li {
    font-size: 20px;
    margin: 0 1rem;
    color: white;
}

header ul li a {
    color: var(--background-color);
    text-decoration: none;
}
li:hover {
    color: white ;
    transform: scale(1.15);
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
}

h1 {
    text-align: center;
    font-size: 40px;
}

div {
    display: flex;
    justify-content: space-between;
    padding: 0px 40px 0px 150px
}

#portfolio {
    font-style: italic;
    font-size: 20px;
    color: white;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    padding: 50px;
    margin-top: 50px;
}

span {
    margin-left: 150px;
    margin-right: 70px;
}

.contact-info h2 {
    color: white;
    font-size: 40px;
}

p a {
    color: rgb(167, 211, 238);
}

#p {
    font-size: 20px;
}

footer {
    width: 100%;
    background-color: #002738;
    color: white;
    text-align: center;
    padding: 10px 0;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
}

@media (max-width: 768px) {
    .contact-info {
        width: 90%;
        padding: 20px;
    }
}






